.formContainer {
  width: 100%;
  background-color: rgb(129, 118, 204);
  padding: 50px;
  box-shadow: 2px 2px 15px black;
  border-radius: 10px;
  max-width: 600px;
  margin: 7% 24.2%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.formItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.formInput {
  width: 500px;
  padding: 4px;
  font-size: 15px;
}

.fButton {
  font-size: 1rem;
  margin-top: 25px;
  padding: 8px 12px;
  background-color: rgb(6, 73, 6);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  background-color: rgb(184, 61, 17);
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
