.adminModalContainer {
  width: 100vw; /*the width and height covers the entire viewport with the background-color specified*/
  height: 100vh; /* take up the full height of the viweport */
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;/*make the element a flex container*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminModal {
  background-color: white; /*styling the admin modal*/
  padding: 20px;
  border-radius: 5px;
  margin: 1% auto 3%;
}

.modalClose {
  /*the styles specified here styles the closing icon to my modal*/
  font-size: 1.2rem;
  color: rgb(182, 63, 63);
  position: absolute;
  top: -2px;
  right: 3px;
}

.adminForm {
  /* create space at the top of the form */
  margin-top: 10px;
}

.formItem {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.formInput {
  font-size: 0.95rem;
}

.cancelBtn {
  background-color: rgb(128, 34, 52);
  color: white;
  border: none;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 3px;
}

.error {
  margin-top: 5%;
  width: 40%;
}

@media (max-width: 750px) {
  .adminModal {
    width: 70%;
    margin: 12% auto;
  }

  .formInput {
    margin-left: 8px;
  }
}
