.dest-item {
  /* set destination item dimensions i.e. width and height */
  width: 100%;
  height: 100%;
  position: relative; /* position: relative allows it's children to positioned according to itself */
}

.dest-pic {
  /* take up the entire width and height of the parent container surrounding it */
  width: 100%;
  height: 100%;
  border-radius: 6px;/*creates a slightly rounded corner for the element*/
}

.dest-title {
  position: absolute; /* remove the element from the flow of the webpage */
  top: -5%;
  left: 4%;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 800;
  text-shadow: 0.5px 0.5px 1px #000;
}

@media (max-width: 550px) {
  .dest-title {
    font-size: 1rem;
  }
}
