.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.loadMsg {
  text-align: center;
  margin-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: cadetblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  border-radius: 12px;
  position: sticky;
  top: 10px;
  margin-top: 15px;
  height: max-content;
}

.listTitle {
  font-size: 25px;
  color: darkblue;
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 10px;
}

.listItem > label {
  font-size: 15px;
}

#dateConfirmation {
  cursor: default;
}

.listItem > input {
  height: 20px;
  padding: 5px;
}

.listItem > span {
  height: 20px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listChoices {
  padding: 10px;
}

.listChoiceItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(26, 22, 22);
}

.listChoiceText {
  margin-right: 3px;
}

.listChoiceInput {
  width: 50px;
}

.listSearchResult {
  flex: 3;
}

.dInput {
  text-transform: lowercase;
}
