.listContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.noResultMsg {
  margin-top: 20%;
  color: crimson;
  text-shadow: 1px 2px 2px black;
  text-align: center;
}

.listWrapper {
  width: 100%;
  /* max-width: 1024px; */
  display: flex;
  padding-right: 2%;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: rgb(221, 184, 17);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
  border-radius: 12px;
  position: sticky;
  top: 10px;
  margin-top: 2%;
  width: 100px;
  height: max-content;
}

.listTitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 10px;
}

.listItem > label {
  font-size: 15px;
}

#dateConfirmation {
  cursor: default;
}

.listItem > input {
  height: 20px;
  padding: 5px;
}

.listItem > span {
  height: 20px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.listChoices {
  padding: 10px;
}

.listChoiceItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(26, 22, 22);
}

.listChoiceText {
  margin-right: 3px;
}

.listChoiceInput {
  width: 50px;
}

.listSearchResult {
  flex: 3;
}

.dInput {
  text-transform: lowercase;
}

.showModalBtn {
  display: none;
  position: absolute;
  z-index: 0;
  width: 30%;
  top: 41.4%;
  left: 35%;
  right: 35%;
  background-color: orange;
  color: white;
  border: none;
  text-shadow: 1px 1px 2px black;
  padding: 7px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.searchIcon {
  margin-left: 7%;
}

.showModalBtn:hover {
  background-color: rgb(142, 201, 5);
  outline: 1px solid black;
}

@media (max-width: 1020px) {
  .listSearch {
    display: none;
  }

  .showModalBtn {
    display: block;
  }
}
