.hotelContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

.loadMsg {
  text-align: center;
  margin-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hotelTitle {
  text-transform: capitalize;
}

.hotelImages {
  display: flex;
  justify-content: flex-start;
}

.imgItem {
  width: 350px;
  height: 350px;
  margin-right: 15px;
  border-radius: 5px;
}

.bookNow {
  width: 18%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  background-color: steelblue;
  border-radius: 5px;
  cursor: pointer;
}

.bookNow1 {
  width: 18%;
  border: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  background-color: steelblue;
  border-radius: 5px;
  cursor: pointer;
}
