.hotelContainer {
  width: 90%;
  /* max-width: 1024px; */
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

.loadMsg {
  text-align: center;
  margin-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.backArrowIcon {
  /* position the back arrow using absolute to place it anywhere in the viewport */
  position: absolute;
  top: 28%;
  left: 18%;
  cursor: pointer;
  font-size: 3rem;
  color: #ffffff;
  z-index: 0;
}

.hotelInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid lightgray;
  background-color: rgb(229, 253, 213);
  border-radius: 6px;
  padding: 0 10px 10px 10px;
  margin: 2% 0 2% 0;
}

.hotelTitle {
  text-transform: capitalize;
  color: orangered;
}

.sellingPoint {
  color: darkcyan;
  text-shadow: 1px 2px 1px black;
}

.grandTotal {
  color: darkorange;
  text-shadow: 1px 1px 1px black;
}

.hotelImages {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.imgItem {
  height: 300px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 4px 5px 6px black;
}

.bookNow {
  width: 18%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  background-color: steelblue;
  border-radius: 5px;
  cursor: pointer;
}

.bookNow1 {
  width: 90%;
  margin-left: 5%;
  border: none;
  font-weight: 600;
  color: white;
  padding: 10px;
  background-color: steelblue;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.bookNow1:hover {
  background-color: lightblue;
  color: #000000;
  outline: 1px solid black;
}
