.userItem {
  width: fit-content;
  background-color: rgb(205, 243, 248);
  border-radius: 5px;
  margin: 20px 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  padding: 12px;
  box-shadow: 1px 2px 3px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.editBtn {
  background-color: rgb(172, 114, 8);
  padding: 4px;
  color: white;
  font-size: 0.95rem;
  border-radius: 3px;
  cursor: pointer;
}

.deleteBtn {
  background-color: rgb(206, 29, 6);
  padding: 4px;
  color: white;
  font-size: 0.95rem;
  border-radius: 3px;
  margin-left: 3px;
  cursor: pointer;
}
