/* styles the booking item fetched from the database */
.booking-item {
  width: 280px;
  background-color: rgb(159, 236, 207);
  border-radius: 5px;
  margin: 20px 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 2px 4px black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
