.planner-container {
  box-sizing: border-box;
  width: 96%;
  overflow: auto;
  margin: 2rem auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.planner-container::-webkit-scrollbar {
  display: none;
}

.planner-heading {
  width: 96%;
  margin: 0 auto;
  color: darkgreen;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
