.dest-main {
  /* take up full width of the webpage */
  width: 100.1%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.dest-container {
  max-width: 100%; /*take up the full width*/
  margin: 0 auto;/*centers the container*/
}

.dest-heading {
  max-width: 100%;
  margin: 2% 1%;
  color: darkgreen;
}

.dest-container-1,
.dest-container-2 {
  display: flex;
  gap: 20px;
  height: 250px;
  margin: 1.2rem 0;
}

@media (max-width: 730px) {
  .dest-container-1,
  .dest-container-2 {
    height: 200px;
    gap: 15px;
  }
}

@media (max-width: 660px) {
  .dest-container-1,
  .dest-container-2 {
    height: 160px;
    gap: 10px;
  }
}
