.userContainer,
.bookingContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}

.tabContainer {
  margin-left: 35px;
}

.tab {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
