.bConfirm {
  background-color: darkgreen;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  margin: -10px;
  min-height: 100vh;
  position: relative;
}

.bConfirmContainer {
  width: 100%;
  max-width: 1024px;
  margin: 10px 0 100px 0;
}

.bDetails {
  margin: 15px 3px;
  font-size: 1.3rem;
}

.bMessage {
  font-size: 1.1rem;
}

.homeBtn {
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 700;
  padding: 6px;
  color: white;
  background-color: teal;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.removeBtn {
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 700;
  padding: 6px;
  color: white;
  background-color: rgb(185, 65, 21);
  border-radius: 3px;
  border: none;
  margin-left: 6px;
  cursor: pointer;
}
